%h1 Entrar

.form-container
  = form_for :user, url: '/sessions', remote: true, html: {id: 'login-form'} do |f|
    .column
      = f.label 'Código (sem último dígito):'
      = f.text_field :code

      = f.label 'Senha:'
      = f.password_field :password

      = f.submit 'Entrar', id: 'login-button'
      #session-message
