%h1 Reserva de Salas

#reserve-message

.form-container
  = form_for :reserve, url: '/reserves', remote: true, html: {id: 'reserve-form'} do |f|

    .column
      = f.label 'Nome padrão da atividade:'
      = f.text_field :name

      = f.label 'Data (dd/mm/aaaa):'
      = f.text_field :date

      = f.label 'Horário de início (hh:mm):'
      = f.text_field :start_time

      = f.label 'Horário de término (hh:mm):'
      = f.text_field :finish_time

      = f.submit 'Reservar', id: 'reserve-submit'

      = link_to 'Voltar', '/'

    .column
      = button_tag 'Ongakutai', type: 'button', id: 'fill-form'

      = f.label 'Organização:'
      = f.text_field :organization

      = f.label 'Divisão (1 = 5D, 13 = GH):'
      = f.text_field :division

      = f.label 'Número previsto de membros:'
      = f.text_field :members


    .column.rooms
      %h3 Código das Salas:
      - @rooms.each do |room, number|
        = f.label room do
          = f.check_box :rooms, { multiple: true }, number
          = room
