%h1 Reserva de Salas

.reservations-container
  .form-container

    #reservation-message

    = button_tag 'Ongakutai', type: 'button', id: 'fill-form'

    = form_for :reservation, url: '/reservations', remote: true, html: {id: 'reservation-form'} do |f|

      .fields

        = f.label 'Nome padrão da atividade:'
        = f.text_field :name

        = f.label 'Organização:'
        = f.text_field :organization

        = f.label 'Divisão (1 = 5D, 13 = GH):'
        = f.text_field :division

        = f.label 'Data (dd/mm/aaaa):'
        = f.text_field :date

        = f.label 'Horário de início (hh:mm):'
        = f.text_field :start_time

        = f.label 'Horário de término (hh:mm):'
        = f.text_field :finish_time

        = f.label 'Número previsto de membros:'
        = f.text_field :members

        = f.hidden_field :place, value: @place

      .rooms
        %h3 Salas a serem reservadas:
        - @rooms.each do |number, room|
          = f.label "rooms_#{number}" do
            = f.check_box :rooms, { multiple: true }, number
            = room

      = f.submit 'Reservar', id: 'reservation-submit'

      = link_to 'Voltar', reservations_choose_path

  .reservations
    %h2 Salas reservadas no mês
    = @page